
@import uk.gov.hmrc.homeofficeimmigrationstatus.views.{DateFormat, StatusFoundPageContext}
@import uk.gov.hmrc.homeofficeimmigrationstatus.models.ImmigrationStatus
@import uk.gov.hmrc.homeofficeimmigrationstatus.viewmodels.{RowViewModel => Row}

@this(
    summaryList: SummaryList,
)

@(previousStatuses: Seq[ImmigrationStatus])(implicit messages: Messages)

@locale = @{messages.lang.locale}

@previousStatuses.zipWithIndex.map { case (status, index) =>
    @summaryList(s"history-$index", Seq(
        Some(Row(s"status-previous-$index", "status-found.previous.status", StatusFoundPageContext.immigrationStatusLabel(status.productType, status.immigrationStatus))),
        Some(Row(s"recourse-previous-$index", "status-found.previous.recourse", "placeholder")),
        Some(Row(s"startDate-previous-$index", "status-found.previous.startDate", DateFormat.format(locale)(status.statusStartDate))),
        status.statusEndDate.map(endDate => Row(s"expiryDate-previous-$index", "status-found.previous.expiryDate", DateFormat.format(locale)(endDate)))
    ).flatten)
}
