//helpers
.margin-top-20{
  margin-top:20px;
}

// Pagination
// Top line
.pagination-top {
  font-size: 0.85em;
  display: block;
  padding-bottom: 0.6em;
  border-bottom: 1px solid #bfc1c3;

  strong {
    font-weight: 700;
  }
}

// Buttons
.pager-items {
  float: right;
  margin-top: 1em;
  display: flex;

  li {
    border-right: 1px solid #ddd;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 7px 14px;
    font-size: 0.8em;

    &:first-child {
      border-left: 1px solid #ddd;
    }

    &:hover {
      background-color: lightgrey;
      cursor: pointer;
    }

    &.selected-pagination-item:hover {
      background-color: transparent;
      cursor: default;
    }

    &.selected-pagination-item {
      font-weight: 800;
    }
  }

  .next a:before, .previous a:before {
    background: url('images/pagination-arrows.png') no-repeat -80px -7px;
    background-position-y: center;
    display: block;
    background-size: 250%;
    content: "\A0\A0\A0\A0";
  }

  .next a:before {
    background-position-x: right;
    float: right;
  }

  .previous a:before {
    background-position-x: left;
    float: left;
  }
}
.search-button{
  height: 36px;
}