#global-header {
  background-color: white;

  .header-wrapper {
    border-bottom: 10px solid #28A197;
    padding: 15px 0px;
    max-width: 960px;

    .header-global {
      width: 100%;

      @media(min-width: 767px) {
        width: 34%;
      }
    }

    @media(min-width: 767px) {
      .header-logo {
        width: 49%;
        min-height: 34px;
      }
    }

    .header-logo {
      margin: 0;
      width: 100%;
      border-left: 2px solid #009390;
      padding-left: 10px;

      @media(min-width: 1020px) {
        #logo {
          margin-left: 0;
        }
      }

      #logo {
        color: transparent;
        font-size: 18px;
        font-weight: normal;
        line-height: 32px;
        background: url("../images/HMRC-logo-black-trans.png") no-repeat 0 0;
        background-size: contain;
        padding-left: 38px;
        min-width: 300px;

        &:before {
          content: "HM Revenue & Customs";
          color: black;
          font-size: 18px;
          font-family: Helvetica, Arial;
        }

        img {
          display: none;
        }
      }
    }

    .header-proposition {
      width: 100%;

      @media(min-width: 767px) {
        width: 66%;
        padding-top: 2px;
      }

      .content {
        margin-right: 0;

        #proposition-menu {
          margin-top: 0;
          margin-right: 15px;

          @media(min-width: 1020px) {
            height: 32px;
            line-height: 32px;
            margin-right: 0;
          }
        }
      }

      .header__menu__proposition-name {
        display: block;
        font-size: 24px;
        font-weight: bold;
        color: #0b0c0c;
        margin-top: .2em;
      }
    }
  }
}

.service-header {
  display: none;
}

.js-enabled #global-cookie-message {
  display: none !important;
}

.internal-beta-banner {
  margin-bottom: 20px;
}

@media(min-width: 767px){
  .internal-beta-banner {
    max-width: 960px;
    margin: 0 auto 50px auto;
  }
}

