.service-info {
  padding-bottom: 0;
}

.js-enabled #global-cookie-message {
  display: none !important;
}

.internal-beta-banner {
  margin-bottom: 20px;
}

@media(min-width: 767px){
  .internal-beta-banner {
    max-width: 960px;
    margin: 0 auto 50px auto;
  }
}

