.hoss-panel {
  margin-bottom: 40px;
  border: 5px solid #0b0c0c;
  padding: 2em;
  text-align: center;
  width: 100%;
}

@media (min-width: 40.0625em) {
  .hoss-panel {
    margin-bottom: 60px;
  }
}

.hoss-panel--success {
  border-color: #00703c;
  background: #bfdbce;
}

.hoss-panel--warn {
  border-color: #ffdd00;
  background: #fff7bf;
}

.hoss-panel--info {
  border-color: #5694ca;
  background: #d5e4f2;
}

.hoss-panel--error {
  border-color: #d4351c;
  background: #f4cdc6;
}