#error-summary-display:focus {
    outline: none;
}

.js-enabled #amlsForm{
 visibility: hidden;
}

/* form overrides */

.flash.error-summary {
    border: 5px solid #d4351c;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px 15px 15px;

    a {
        font-weight: bold;
    }
}

.form-field--error .error-notification {
    font-weight: bold;
    font-size: 19px;
    line-height: 1.31579;
}

.error,
.form-field--error {
    border-left: 5px solid #d4351c;
    padding-left: 15px;
    margin-right: 15px;
}

.form-field--error input[type="text"] {
    border: 4px solid #d4351c;
}

.form-field--error .form-date .form-field--error {
    border-left: none;
    padding: inherit;
}

.form-field--error legend .heading-large {
    margin-top: 0px !important;
}

.form-field--error .multiple-choice [type="checkbox"] + label.form-field-single::before{
    top: 0 !important;
}
.form-field--error .multiple-choice [type="checkbox"] + label.form-field-single::after {
    top: 10px !important;
}

/* no js style for dates */
.no-js .form-date .form-field--error {
    border-left: none;
    padding: inherit;
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
    padding: inherit;
}

.no-js .nojs-date-fields-error .form-group.soft--ends {
    border-left: 3px solid #df3034;
    padding: 0.75em 1em;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: .63158em .84211em .63158em .84211em;
}

.no-js .nojs-date-fields-error .error-notification {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

.form-control.width-full {
    width: 100%;
}

