@import 'modules/_govuk';
@import 'modules/_hoss';
@import 'modules/_custom';
@import 'modules/_header';

#error-summary-display:focus {
    outline: none;
}

.margin-top-50 {
    margin-top: 30px !important;
}

.margin-top-30 {
    margin-top: 30px !important;
}

.margin-top-20 {
    margin-top: 20px !important;
}

.margin-top-10 {
    margin-top: 10px !important;
}

.margin-top-0 {
    margin-top: 0px !important;
}

.margin-bottom-30 {
    margin-bottom: 30px !important;
}

.margin-bottom-20 {
    margin-bottom: 20px !important;
}

.margin-bottom-10 {
    margin-bottom: 10px !important;
}

.margin-bottom-0 {
    margin-bottom: 0px !important;
}

.button-block {
    display: block;
    clear: both;
}

.js-enabled .autocomplete-wrapper select{
 visibility: hidden;
}

.js-enabled #amlsForm{
 visibility: hidden;
}

.app-check-your-answers {
    font-family: "nta", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
}

.app-application-details {
    font-family: "nta", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
}

.report-error .report-error__toggle {
    color: #005ea5;
}

.report-error {
    margin: 0;
}

.panels-conditionals .panel {
    margin-left: 15px;
    border-left-width: 10px;
    padding-left: 32px;
    padding-top: 3px;
}

@media print {
    .app-check-your-answers {
        font-family: sans-serif;
    }

    .app-application-details {
        font-family: sans-serif;
    }
}

@media (min-width: 40.0625em) {
    .app-check-your-answers {
        font-size: 19px;
        /*line-height: 1.31579;*/
    }

    .app-application-details {
        font-size: 19px;
        /*line-height: 1.31579;*/
    }
}

@media print {
    .app-check-your-answers {
        font-size: 14pt;
        line-height: 1.15;
    }

    .app-application-details {
        font-size: 14pt;
        line-height: 1.15;
    }
}

@media (min-width: 48.0625em) {
    .app-check-your-answers {
        display: table;
    }

    .app-application-details {
        display: table;
    }
}

@media (min-width: 48.0625em) {
    .app-check-your-answers--short {
        width: 100%;
    }

    .app-check-your-answers--short .app-check-your-answers__question {
        width: 30%;
    }
}

@media (min-width: 48.0625em) {
    .app-check-your-answers--long {
        width: 100%;
    }

    .app-check-your-answers--long .app-check-your-answers__question {
        width: 50%;
    }

    .app-application-details--long {
            width: 100%;
    }

    .app-application-details--long .app-application-details__question {
        width: 50%;
    }
}

.app-check-your-answers__contents {
    position: relative;
}

.app-application-details__contents {
    position: relative;
}

@media (min-width: 48.0625em) {
    .app-check-your-answers__contents {
        display: table-row;
    }

    .app-application-details__contents {
            display: table-row;
    }
}

.app-check-your-answers__question,
.app-check-your-answers__answer,
.app-check-your-answers__change {
    display: block;
    margin: 0;
}

.app-application-details__question,
.app-application-details__answer,
.app-application-details__change {
    display: block;
    margin: 0;
}

@media (min-width: 48.0625em) {
    .app-check-your-answers__question,
    .app-check-your-answers__answer,
    .app-check-your-answers__change {
        display: table-cell;
        /*padding: 0.63158em 1.05263em 0.47368em 0;*/
        padding: 0;
    }

    .app-application-details__question,
    .app-application-details__answer,
    .app-application-details__change {
        display: table-cell;
        /*padding: 0.63158em 1.05263em 0.47368em 0;*/
        padding: 0;
    }
}

.app-check-your-answers__question {
    font-weight: bold;
    /*margin: 0.63158em 4em 0.21053em 0;*/
    margin: 0.63158em 1em 0.21053em 0
}

.app-application-details__question {
    font-weight: bold;
    /*margin: 0.63158em 4em 0.21053em 0;*/
    margin: 0.63158em 1em 0.21053em 0
}

.app-check-your-answers__answer {
    /*padding-bottom: 0.47368em;*/
    padding-bottom: 0.3em;
}

.app-check-your-answers__answer {
    /*padding-bottom: 0.47368em;*/
    padding-bottom: 0.3em;
}

.app-check-your-answers__change {
    text-align: right;
    position: absolute;
    top: 0;
    right: 0;
}

.app-application-details__change {
    text-align: right;
    position: absolute;
    top: 0;
    right: 0;
}

.app-application-details--group {
    border-bottom: 1px solid #bfc1c3;
    padding-bottom: 10px;
}

@media (min-width: 48.0625em) {

    .app-application-details--group {
        padding-top: 3px;
    }

    .app-check-your-answers__change {
        position: static;
        padding-right: 0;
    }
}

/* form overrides */

.flash.error-summary {
    border: 5px solid #d4351c;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px 15px 15px;
}

.flash.error-summary a {
    font-weight: bold;
}

#error-summary-heading {
    font-size: 24px;
}

.form-field--error .error-notification {
    font-weight: bold;
    font-size: 19px;
    line-height: 1.31579;
}

.error,
.form-field--error {
    border-left: 5px solid #d4351c;
    padding-left: 15px;
    margin-right: 15px;
}

.form-field--error input[type="text"] {
    border: 4px solid #d4351c;
}

.form-field--error .form-date .form-field--error {
    border-left: none;
    padding: inherit;
}

.form-field--error legend .heading-large {
    margin-top: 0px !important;
}

.form-field--error .multiple-choice [type="checkbox"] + label.form-field-single::before{
    top: 0 !important;
}
.form-field--error .multiple-choice [type="checkbox"] + label.form-field-single::after {
    top: 10px !important;
}

.multiple-choice:last-child,
.multiple-choice:last-of-type {
    margin-bottom: 10px;
}
.form-field-group, .form-field-single {
    margin-bottom: auto;
    line-height: inherit;
}
caption.normal-text {
    font-weight: normal;
    margin-bottom: 1em;
}

/* form overrides */

.flash.error-summary {
    border: 5px solid #b10e1e;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px 15px 15px;
}
.flash.error-summary a{
    font-weight: bold;
}
#error-summary-heading{
    font-size: 24px;
}

/* no js style for dates */
.no-js .form-date .form-field--error {
    border-left: none;
    padding: inherit;
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
    padding: inherit;
}

.no-js .nojs-date-fields-error .form-group.soft--ends {
    border-left: 3px solid #df3034;
    padding: 0.75em 1em;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: .63158em .84211em .63158em .84211em;
}

.no-js .nojs-date-fields-error .error-notification {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

.autocomplete__wrapper {
    position: relative
}

.autocomplete__hint, .autocomplete__input {
    -webkit-appearance: none;
    border: 2px solid;
    border-radius: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin-bottom: 0;
    width: 100%
}

.autocomplete__input {
    background-color: transparent;
    position: relative
}

.autocomplete__hint {
    color: #bfc1c3;
    position: absolute
}

.autocomplete__input--default {
    padding: 4px
}

.autocomplete__input--focused {
    outline-offset: 0;
    outline: 3px solid #ffbf47
}

.autocomplete__input--show-all-values {
    padding: 4px 34px 4px 4px;
    cursor: pointer
}

.autocomplete__dropdown-arrow-down {
    z-index: -1;
    display: inline-block;
    position: absolute;
    right: 8px;
    width: 24px;
    height: 24px;
    top: 10px
}

.autocomplete__menu {
    background-color: #fff;
    border: 2px solid #0b0c0c;
    border-top: 0;
    color: #34384b;
    margin: 0;
    max-height: 342px;
    overflow-x: hidden;
    padding: 0;
    width: 100%;
    width: calc(100% - 4px)
}

.autocomplete__menu--visible {
    display: block
}

.autocomplete__menu--hidden {
    display: none
}

.autocomplete__menu--overlay {
    box-shadow: rgba(0, 0, 0, .256863) 0 2px 6px;
    left: 0;
    position: absolute;
    top: 100%;
    z-index: 100
}

.autocomplete__menu--inline {
    position: relative
}

.autocomplete__option {
    border-bottom: solid #bfc1c3;
    border-width: 1px 0;
    cursor: pointer;
    display: block;
    position: relative
}

.autocomplete__option > * {
    pointer-events: none
}

.autocomplete__option:first-of-type {
    border-top-width: 0
}

.autocomplete__option:last-of-type {
    border-bottom-width: 0
}

.autocomplete__option--odd {
    background-color: #fafafa
}

.autocomplete__option--focused, .autocomplete__option:hover {
    background-color: #005ea5;
    border-color: #005ea5;
    color: #fff;
    outline: 0
}

.autocomplete__option--no-results {
    background-color: #fafafa;
    color: #646b6f;
    cursor: not-allowed
}

.autocomplete__hint, .autocomplete__input, .autocomplete__option {
    font-size: 16px;
    line-height: 1.25
}

.autocomplete__hint, .autocomplete__option {
    padding: 4px
}

@media (min-width: 641px) {
    .autocomplete__hint, .autocomplete__input, .autocomplete__option {
        font-size: 19px;
        line-height: 1.31579
    }
}

input[type="text"].autocomplete__input {
    width: 100%
}

.autocomplete-wrapper {
    width: 50%
}

.govuk-caption-xl {
    font-family: "nta", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.11111;
    display: block;
    margin-bottom: 5px;
    color: #6f777b;
}

@media (min-width: 40.0625em){
    .govuk-caption-xl {
        font-size: 27px;
        line-height: 1.11111;
    }
}

.govuk-heading-s {
    color: #0b0c0c;
    font-family: "nta", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    display: block;
    margin-top: 0;
    margin-bottom: 15px;
}

@media (min-width: 40.0625em){
    .govuk-heading-s {
        margin-bottom: 20px;
        font-size: 19px;
        line-height: 1.31579;
    }
}

.govuk-inset-text {
    font-family: "nta", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: #0b0c0c;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    clear: both;
    border-left: 10px solid #bfc1c3;
}

@media (min-width: 40.0625em) {
    .govuk-inset-text {
        margin-bottom: 30px;
        margin-top: 30px;
        font-size: 19px;
        line-height: 1.31579;
    }
}

.app-application-details__answer {
    word-break: break-all;
}

.form-control.width-full {
    width: 100%;
}

.full-width .content__body {
    width: 100%;

}


.govuk-body-l, .govuk-body-lead {
    color: #0b0c0c;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1.11111;
    margin-top: 0;
    margin-bottom: 20px;
}

@media (min-width: 40.0625em){
    .govuk-body-l, .govuk-body-lead {
        margin-bottom: 30px;
    }
}

@media (min-width: 40.0625em){
    .govuk-body-l, .govuk-body-lead {
        font-size: 24px;
        line-height: 1.25;
    }
}

.govuk-body-m + .govuk-heading-l, .govuk-body + .govuk-heading-l, p + .govuk-heading-l, .govuk-body-s + .govuk-heading-l, .govuk-list + .govuk-heading-l {
    padding-top: 15px;
}

.govuk-heading-l {
    color: #0b0c0c;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.04167;
    display: block;
    margin-top: 0;
    margin-bottom: 20px;
}


@media (min-width: 40.0625em){
    .govuk-heading-l {
        margin-bottom: 30px;
    }
}

@media (min-width: 40.0625em){
    .govuk-heading-l {
        font-size: 36px;
        line-height: 1.11111;
    }
}


.govuk-heading-s {
    color: #0b0c0c;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    display: block;
    margin-top: 0;
    margin-bottom: 15px;
}

@media (min-width: 40.0625em){
    .govuk-heading-s {
        margin-bottom: 20px;
    }
}

@media (min-width: 40.0625em){
    .govuk-heading-s {
        font-size: 19px;
        line-height: 1.31579;
    }
}

.govuk-heading-m {
    color: #0b0c0c;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.11111;
    display: block;
    margin-top: 0;
    margin-bottom: 15px;
}

@media (min-width: 40.0625em){
    .govuk-heading-m {
        margin-bottom: 20px;
    }
}

@media (min-width: 40.0625em){
    .govuk-heading-m {
        font-size: 24px;
        line-height: 1.25;
    }
}


@import 'partials/_tabs';

// =========================
// focus states
// changes made to bring in line with
// https://designnotes.blog.gov.uk/2019/07/29/weve-made-the-gov-uk-design-system-more-accessible/
// =========================

@import 'partials/_focus';
@import 'partials/_palette';
